@keyframes slideIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  background-color: #000000d0;
  color: #fff;
  border-radius: 10px;
  width: 90%;
  height: 70%;
  max-width: 480px;
  opacity: 0;
  animation-name: slideIn;
  animation-duration: 0.4s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}
.wrap {
  margin: 20px 10px;
  display: flex;
  flex-direction: row;
}
