.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  opacity: 0.6;
  background-color: #000;
  border-radius: 10px;
  width: 90%;
  height: 70%;
  max-width: 480px;
}
